<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sign Up</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/font-awesome.min.css" rel="stylesheet">
		<link href="css/rvs-style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
	</head>
	<body>
	   <!-- nav bar starts here -->
	    <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>  <!--- navbar-header -->

              <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="pull-left"><a href="#"><img src="./img/logo.png"></a></li>
						<li><a href="#" class="project-name"><span id="rsv">RSV</span> RAPID SEISMIC VARIABILITY ASSESSMENT SURVEY</a></li>
						<li class="pull-right menu-right-options active"><a href="#">Sign in</a></li>
						<li class="pull-right menu-right-options"><a href="#">Sign up</a></li>
                    </ul>
                </div><!-- navbar-collapse -->
            </div><!-- container-fluid -->
        </nav>
	  <!-- nav bar ends here -->
	  
	    <div class="container-fluid sign-up-bg_img">
		    <!-- left-side ad div -->
		    <div class="col-sm-3 col-md-4 ad-space-bg">
			    <div class="ad-space-left">
			      <img src="./img/ad2.png" class="img-responsive ad-left">
				</div>
			</div>  <!-- ad-space-bg -->
	        
			<div class="col-sm-6 col-md-4 col-xs-12 sign-up-bg">
			  <!-- top-side ad div -->
			    <div class="ad-space-top">
			        <img src="./img/ad1.png" class="img-responsive ad-top">
				</div>
                
		      <!-- form starts here -->	
			    <form class="sign-up-form-bg">
				    <h3>Sign Up</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" id="usrname" placeholder="Name*">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Email*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password*">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="retypePassword" id="rpassword" placeholder="Retype Password*">
                    </div>
					
                    <button type="button" class="orange-btn" id="btn" style="width:125px; margin:30px auto 25px;"><i class="fa fa-sign-in"></i>&nbsp; Sign Up</button>
                   
				</form>
			</div>  <!-- sign-up-bg -->
          
          <!-- right-side ad div -->
			<div class="col-sm-3 col-md-4 ad-space-bg">
			    <div class="ad-space-right">
			      <img src="./img/ad4.png" class="img-responsive ad-right">
				</div>
			</div>
		  
		  <!-- bottom-side ad div -->
			<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			    <div class="ad-space-bottom">
			      <img src="./img/ad3.png" class="img-responsive ad-bottom">
				</div>
			</div>
		
	      
		</div> <!-- container-fluid -->
	  
	  <!-- footer  -->
		<div class="container-fluid footer-partners">
		    <div class="row">
			    
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/logo-footer.png" style="height:35px; width:170px;">
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p1.png">
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p2.png">
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p3.png">
                </div> 
				<div class="col-sm-2 col-xs-12">
				    <img src="./img/p4.png">
                </div> 
			</div> <!-- row -->
        </div>  <!-- container-fluid -->		
	  
	    <footer>
		    <i class="fa fa-twitter"></i> &nbsp;
			<i class="fa fa-facebook-square"></i>
        </footer>
      <!-- footer  --> 	

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	<script>
$(document).ready(function() {
    $('#btn').click(function () {
          var data = {
          	name     :  $("#usrname").val(),
            email    :  $("#email").val(),
            phone    :  $("#phone").val(),
            password :  $("#password").val()
           };
      //console.log(data);
        $.ajax({
        type:"POST",
        url:"/user_signup",
        data :  data, 
        //dataType: 'json',  // multiple data sent using ajax
        success: function (result) {
           alert(result);
          
        }
        });
    });
});
</script>
	</body>
</html>